# Configuration file

##########################################################################################################
# tool
#--------------------------------------------------------------------------------------------------------#
# To add any overwrites, simply copy them over from the tools.cfg
##########################################################################################################

tool {
	# pyrotech:crude_pickaxe [default: pickaxe=0]
    S:"pyrotech:crude_pickaxe"=pickaxe=1
}


